.container
    .header__inner
        nav.menu
            ul.menu__list
                li.menu__list-item
                    a.menu__list-link(href="#") About
                li.menu__list-item
                    a.menu__list-link(href="#") Gallery
        a.logo(href='#')
            img(src="images/logo.png", alt="logo")
        nav.menu
            ul.menu__list
                li.menu__list-item
                    a.menu__list-link(href="#") Blog
                li.menu__list-item
                    a.menu__list-link(href="#") Contact
        button.header__btn
            img(src="images/icon_menu.svg", alt="header menu button")