doctype html
html(lang="en")
    head
       include components/_head.pug
    body
        .wrapper
            header.header
                include components/_header.pug
            main.main


            footer.footer
                include components/_footer.pug




        script(src="js/lib.min.js")
        script(src="js/main.js")
